{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Developers</title>
    <STYLE>A {text-decoration: none;} </STYLE>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
</head>

<body>
    <div class="container">
        <br>
        <h2>Developers and Contributors:</h2>
        <br>
        <div class="jumbotron">
            <h4>
                1. <a href="https://www.linkedin.com/in/shagun-katoch-7a01b0181/" target="_blank" title="Shagun Katoch">Shagun Katoch</a>
            </h4>

            <h4>
                2. <a href="https://www.linkedin.com/in/pooja-nehra-25837317a/" target="_blank" title="Pooja Nehra">Pooja Nehra</a>
            </h4>

            <h4>3. <a href="https://www.linkedin.com/in/parmarkaran/" target="_blank" title="Ahsan Habib">Karan Parmar</a></h4>

        </div>
    </div>

</body>
</html>

