{% extends 'base.html' %}

{% block title %}All Tests | ODLRS{% endblock %}

{% block content %} 
<style>
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

</style>

<div class="container inner-content" >
    <!-- search -->
    <div class="search-box bg-dark p- mb-4 col-md-">
        <div class="container" >

            <h3 class="text-white mb-" >Detect Epilepsy Type</h3>

            <form class="search" action="predict-Epilepsy/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group input-group-sm">
                   <form >
                   <div style="width:100%"> 
                   <label for="fname" style=" color:white;">Patient's name:</label><br>
                    <input type="text" id="fname" name="fname" style=" color:red; width: 60%;padding: 1px 10px;margin: 8px 0;box-sizing: border-box;" ><br>
                 </div>
                  <div style="width:100%"> 
                    <label for="fname" style=" color:white;">Id number:</label><br>
                    <input type="text" id="idnum" name="idnum" style=" color:red; width: 60%;padding: 1px 10px;margin: 8px 0;box-sizing: border-box;"><br>
                   </div>
                    <div style="width:100%"> 
                    <label for="fname" style=" color:white;">Age:</label><br>
                    <input type="text" id="age" name="age" style=" color:red; width: 60%;padding: 1px 10px;margin: 8px 0;box-sizing: border-box;"><br>
                    </div>
                     <div style="width:100%"> 
                    <label for="fname" style=" color:white;">Blood Group</label><br>
                    <input type="text" id="bloodgrp" name="bloodgrp" style=" color:red; width: 60%;padding: 1px 10px;margin: 8px 0;box-sizing: border-box;"><br>
                    <div style="width:100%"> 
                    <label for="fname"  style=" color:white;">Contact number</label><br>
                    <input type="text" id="phonenum" name="phonenum" style=" color:red; width: 60%;padding: 1px 10px;margin: 8px 0;box-sizing: border-box;"><br>
                    </div>
                     <div style="width:100%"> 
                    <label for="fname" style=" color:white;">Email id</label><br>
                    <input type="text" id="emailid" name="emailid" style=" color:red; width: 60%;padding: 1px 10px;margin: 8px 0;box-sizing: border-box;"><br>
                    </div>
                    </form>
                    <input type="file" class="form-control" name='filePath' placeholder="Upload EEG Signal..."
                        aria-label="Recipient's username" aria-describedby="basic-addon2" multiple>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" class="searchButton">
                            Detect
                        </button>
                    </div>
                </div>
            </form>           
        </div>
    </div>






{% endblock %}